.gradient-background {
  background: linear-gradient(300deg, #0d00ff, #304a98, #000000);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
}
}
.projects-section {
    background-color: #0f172a;
    background-image: linear-gradient(#1e293b 1px, transparent 1px), 
                      linear-gradient(90deg, #1e293b 1px, transparent 1px);
    background-size: 40px 40px;
}
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
html{
 scroll-behavior: smooth;
}
.image{
    border-radius: 100%;

}
@media(max-width:480px)
{
    .image{
        height: 150px;
    }
    .T-1{
        font-size: 30px;
    }
    .T1-1{
        font-size: 20px;
    }
    .card{
    width: 300px;
    height: 500px;
    perspective: 1000px;
}
}
@media(min-width:481px)and (max-width:1200px)
{
    .image{
        height: 300px;
    }
    .image{
        height: 150px;
    }
    .T-1{
        font-size: 40px;
    }
    .T1-1{
        font-size: 30px;
    }
    .card{
    width: 500px;
    height: 700px;
    perspective: 1000px;
}
}
 @media(min-width:1200px)
{
    .image{
        height: 500px;
    }
    .T-1{
        font-size: 50px;
    }
    .T1-1{
        font-size: 40px;
    }
    .card{
    width: 400px;
    height: 600px;
    perspective: 1000px;
}

}


.dynamic-text::after {
    content: "Cyber Security Student";
    animation: changeText 4s infinite;
    color: #00d4ff;
}

@keyframes changeText {
    0%, 45% { content: "Cyber Security Student"; color: #00d4ff; }
    50%, 95% { content: "Web Developer"; color: #9d50bb; }
}
.projects{
    background:rgb(167, 167, 167);
    height: 100vh;
}

.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    transition: transform 0.9s;
    transform-style: preserve-3d;
}
.card:hover .card-inner{
    transform: rotateY(180deg);
}
.card-front,.card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backface-visibility: hidden;
}
.card-front{
    background: linear-gradient(300deg, #0d00ff, #304a98, #000000);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
.card-back{
    background: linear-gradient(300deg, #0d00ff, #304a98, #000000);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    transform: rotateY(180deg);   
}